.chatsList {
   box-sizing: border-box;
   width: 225px;
   height: 100%;
   overflow-y: auto;
   padding: 0 10px;
   border-bottom-left-radius: 10px;
   border-right: 1.5px solid #c8c8c8;
   background-color: #FFF;
}
.chatsList::-webkit-scrollbar {
   width: 5px;
}
.chatsList::-webkit-scrollbar-thumb {
   border-radius: 5px;
   background-color: rgb(224, 224, 224);
}

.chatsList__loaderContainer{
   display: flex;
   justify-content: center;
   align-items: center;
   width: 100%;
   height: 100%;
}

.chatsListItem__active {
   background-color: #e2e4e8;
}