.chatsList {
   box-sizing: border-box;
   width: 225px;
   height: 100%; 
   padding: 10px 0;
   border-bottom-left-radius: 10px;
   border-right: 1.5px solid #c8c8c8;
   background-color: #FFF;
}

.chatsList__flexContainer{
   display: flex;
   justify-content: center;
   align-items: center;
   width: 100%;
   height: calc(100% - 40px);
}

.chatsList__headerList {
   display: flex;
   justify-content: space-between;
   padding: 0 10px;
   position: relative;
}

.headerList__searchInput {
   width: 160px;
   height: 30px;
   margin-bottom: 10px;
}

.headerList__addChatButton {
   display: flex;
   align-items: center;
   justify-content: center;
   padding: 0;
   height: 30px;
   width: 30px;
}

.headerList__clearInput {
   position: absolute;
   background: none;
   right: 59px;
   top: 5px;
   width: 20px;
   height: 20px;
   padding: 0;
   cursor: default;
   border-radius: 10px;
}

.chatsList__list {
   box-sizing: border-box;
   padding: 0 10px;
   width: 100%;
   height: calc(100% - 40px);
   overflow-y: auto;
}
.chatsList__list::-webkit-scrollbar {
   width: 5px;
}
.chatsList__list::-webkit-scrollbar-thumb {
   border-radius: 5px;
   background-color: rgb(224, 224, 224);
}


.chatsListItem__active {
   background-color: #e2e4e8;
}