.authBlock {
   display: flex;
   align-items: center;
   justify-content: center;
   width: 100%;
   height: 100%;
   background-color: #ededed;
   border-bottom-left-radius: 10px;
   border-bottom-right-radius: 10px;
}

.authForm {
   display: flex;
   flex-direction: column;
   align-items: center;
   box-sizing: border-box;
   padding: 50px 20px;
   background-color: #FFF;
   border-radius: 5px;
   box-shadow: 2px 2px 2px #00000010;
}

.authForm__title {
   margin: 0;
   margin-bottom: 20px;
}

.authForm__input {
   width: 400px;
   margin-bottom: 10px;
}

.authForm__helper {
   margin: 0;
   margin-bottom: 10px;
   width: 400px;
   text-align: center;
}

.authForm__loader {
   width: 13px;
}

.authForm__err {
   display: flex;
   color: red;
   width: 100%;
   height: 20px;
   margin-bottom: 5px;
}

.authForm__enterButton {
   width: 70px;
   height: 36px;
}

.authForm__qrButton {
   margin-bottom: 10px;
}

.helper__link {
   color: green;
   text-decoration: none;
   font-weight: 500;
}