.messageBlock {
   display: flex;
   flex-direction: column;
   box-sizing: border-box;
   width: 100%;
}

.messageBlock__loaderWrapper {
   display: flex;
   justify-content: center;
   align-items: center;
   width: 100%;
   height: calc(506px - 70px);
}